h1{
	color:#FACC2E;
	font-size: 60px;
	text-align: center;
	padding: 20px
	margin : 0 ;
}
.text-ibm{
	text-align: center;
}
.text-microsotf{

}
table{
	text-align: center;

}
.text-apple{

}
.text-google img{
	text-align: right;
	margin-right: 30px;
	padding: 20px
}
td{
	text-align: center;
}