.container {
	background-color: #F5F5F5;
	height: 700px;
	width: 900px;
	text-align: center;
	margin: auto;
}
a{
	background-color: white;
	text-decoration: none;
}
a:hover {
	color: blue;
}
input{
	width: 700px;
	height:20px;
	margin-bottom:10px;
}
}
button{
	width: 100px
	background-color:white;
	border-radius: 10px;
	color: red;
