form {
  background: rgb(62, 93, 192);
  width: 30%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
}
form h1 {
  color: cornsilk;
}
.form-group {
  padding: 10px;
}

.form-group input {
  outline: none;
  padding: 5px;
  color: rgb(14, 125, 221);
  background: none;
  border-radius: 10px;
}
.form-group span {
  color: red;
}
.form-group label {
  padding: 15px;
}
body {
  background: cornflowerblue;
}
.form-group input:hover {
  color: red;
  background: rgb(218, 208, 208);
}
