.container{
    width: 100%;
    height: 600px;
}

.col-sm-4{
    margin-top: 20px;
}

.col-sm-4 p{
    padding-left: 30px;
}

.col-sm-4 div{
    padding-top: 10px;
    padding-left: 30px;
}

.menu{
    background-color: black;
    color: gray;
    height: 400px;
    padding-top: 70px;
}

#email{
    width: 260px;
    height: 40px;
}



.col-sm-6{
    padding-left: 100px;
}


 td {
    border: none;

    padding-right: 80px;

    padding-top: 5px;

    
}

.footer{
    background-color: #24272A;
    color: gray;
    height: 100px;

}

.footer .col-sm-6{
    padding-top: 25px;
}

.text{
    height: 40px;
    width: 140px;
    background-color: #7476C5;
    color:white;
}

.text p{
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
}

.col-sm-6 .copy{
    padding-top: 20px;
    padding-left: 60px;
}