form {
	background-color: #f5f5f5;
	width: 30%;
	height:auto;
	margin: auto;
	text-align: center;
	border-radius: 20px;
}
form  h1 {
	color: black;
}
form  label {
	margin: 10px;
	padding: 10px;
	font-size: 20px;

}
form  input {
	padding: 8px;
	margin: 10px;
	outline: none;
	border-radius: 5px;
}
form input[type="submit"] {
	background-color: lightgreen;
	outline: none;
	width: 100px;
	font-size: 20px;
	font-family: tahoma;
}
form input[type="submit"]:hover {
	background-color: blue;
	color: white;
}